Node-Red-Export.txt
[{"id":"bbe3cbec.18873","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"466505cd.15eddc","type":"exec","z":"bbe3cbec.18873","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","name":"RPi Temp.","x":330,"y":60,"wires":[["76a3f314.bb7cb4"],[],[]]},{"id":"1a970882.45410f","type":"inject","z":"bbe3cbec.18873","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":124.5,"y":68.25,"wires":[["466505cd.15eddc","2a3c440a.6f4004","22cd2f8e.79d478","1d7a3a2b.bec0fe"]]},{"id":"76a3f314.bb7cb4","type":"function","z":"bbe3cbec.18873","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["4beb8e27.a4e83"]]},{"id":"9bc31d39.e9cf8","type":"ui_button","z":"bbe3cbec.18873","name":"","group":"faf4d9f0.706c6","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot Raspberry Pi","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1033,"wires":[["9dfe0c7b.43a93"]]},{"id":"9dfe0c7b.43a93","type":"exec","z":"bbe3cbec.18873","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":318,"y":1033,"wires":[[],[],[]]},{"id":"2a3c440a.6f4004","type":"exec","z":"bbe3cbec.18873","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"false","timer":"","name":"CPU Load","x":330,"y":140,"wires":[["c469f039.c689b8"],[],[]]},{"id":"22cd2f8e.79d478","type":"exec","z":"bbe3cbec.18873","command":"free | grep Mem | awk '{print 100*$3/$2}'","addpay":false,"append":"","useSpawn":"false","timer":"","name":"RAM Load","x":330,"y":220,"wires":[["9a33dd00.817a88"],[],[]]},{"id":"7066aac6.e2b4d4","type":"exec","z":"bbe3cbec.18873","command":"df -h","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Disk Usage","x":330,"y":513,"wires":[["2c7abf62.f7ad4"],[],[]]},{"id":"2c7abf62.f7ad4","type":"function","z":"bbe3cbec.18873","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":513,"wires":[["fe48b2c3.b8156"]]},{"id":"e1e9bfda.ecf8","type":"inject","z":"bbe3cbec.18873","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":"","x":130,"y":513,"wires":[["7066aac6.e2b4d4"]]},{"id":"1c17e9e6.99a62e","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"7","set":true,"level":"0","freq":"100","out":"out","x":580,"y":593,"wires":[]},{"id":"119095b.cbd2fea","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"11","set":true,"level":"0","freq":"2000","out":"out","x":580,"y":653,"wires":[]},{"id":"d7f2a8ed.de50d","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"13","set":true,"level":"0","freq":"2000","out":"out","x":580,"y":713,"wires":[]},{"id":"9aefd909.e25bc8","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"15","set":true,"level":"0","freq":"2000","out":"out","x":580,"y":773,"wires":[]},{"id":"1ddbdf73.31b2d1","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"29","set":true,"level":"0","freq":"2000","out":"out","x":580,"y":833,"wires":[]},{"id":"f58ffad6.ef57b8","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"31","set":true,"level":"0","freq":"2000","out":"out","x":580,"y":913,"wires":[]},{"id":"1cfe61cf.08971e","type":"rpi-gpio out","z":"bbe3cbec.18873","name":"","pin":"33","set":true,"level":"0","freq":"1000","out":"out","x":580,"y":973,"wires":[]},{"id":"85ea3819.4afa1","type":"ui_button","z":"bbe3cbec.18873","name":"","group":"faf4d9f0.706c6","order":8,"width":0,"height":0,"passthru":false,"label":"Fermer Lumières","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":130,"y":753,"wires":[["e77639f5.e06a18","1e90e6d8.4e5359","1cc14f2e.ec3669","9658adca.58fe8","c2441d9c.b51738","1561bac2.dce125"]]},{"id":"1d7a3a2b.bec0fe","type":"exec","z":"bbe3cbec.18873","command":"python3 ina260.py","addpay":false,"append":"","useSpawn":"false","timer":"","name":"ina260 Power","x":340,"y":300,"wires":[["19e2d999.157356"],[],[]]},{"id":"19e2d999.157356","type":"function","z":"bbe3cbec.18873","name":"array","func":"str = msg.payload\nmsg.payload = str.split(\" \");\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["76ca82f5.736144","6c3513f2.064aac","7afb35f0.64b30c"]]},{"id":"76ca82f5.736144","type":"function","z":"bbe3cbec.18873","name":"Amps","func":"str = msg.payload\nmsg.payload = str[0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["97b51170.6a6b78"]]},{"id":"6c3513f2.064aac","type":"function","z":"bbe3cbec.18873","name":"Volts","func":"str = msg.payload\nmsg.payload = str[1];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["1eb536a.957e3c9","cd5325e0.24fd6","58698ef.37923f"]]},{"id":"7afb35f0.64b30c","type":"function","z":"bbe3cbec.18873","name":"Watts","func":"str = msg.payload\nmsg.payload = str[2];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["3c0cb07d.155668"]]},{"id":"cd6fd4f3.279af","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"cpu temp (degC)","measurement":"cpu_temp","precision":"s","retentionPolicy":"","x":1050,"y":60,"wires":[]},{"id":"c469f039.c689b8","type":"function","z":"bbe3cbec.18873","name":"","func":"str = msg.payload\nmsg.payload = str.trim();\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["a746c343.6ed4f"]]},{"id":"ab4a3d91.4d7568","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"cpu load (%)","measurement":"cpu_load","precision":"s","retentionPolicy":"","x":1030,"y":140,"wires":[]},{"id":"9a33dd00.817a88","type":"function","z":"bbe3cbec.18873","name":"","func":"str = msg.payload\nmsg.payload = str.trim();\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["4be5546d.bdbf24"]]},{"id":"df051ed6.dd64a","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"RAM load (%)","measurement":"ram_load","precision":"s","retentionPolicy":"","x":1040,"y":200,"wires":[]},{"id":"eb70a8ed.eadc98","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"Lum current (A)","measurement":"lum_amps","precision":"s","retentionPolicy":"","x":1040,"y":260,"wires":[]},{"id":"bd367c46.0c0078","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"Lum voltage (V)","measurement":"lum_volts","precision":"s","retentionPolicy":"","x":1040,"y":300,"wires":[]},{"id":"d3241270.de0058","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"Lum Power (W)","measurement":"lum_watts","precision":"s","retentionPolicy":"","x":1040,"y":340,"wires":[]},{"id":"1eb536a.957e3c9","type":"ui_gauge","z":"bbe3cbec.18873","name":"Battery","group":"7a15e9f3.90caa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"Volts","format":"{{value | number : 2}}","min":"11","max":"13.5","colors":["#ff4013","#e6e600","#00fa00"],"seg1":"12.2","seg2":"12.6","x":840,"y":400,"wires":[]},{"id":"d019ca45.10f798","type":"influxdb out","z":"bbe3cbec.18873","influxdb":"e485f915.369f9","name":"Disk Used (%)","measurement":"disk_used","precision":"s","retentionPolicy":"","x":1040,"y":513,"wires":[]},{"id":"4beb8e27.a4e83","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":60,"wires":[["cd6fd4f3.279af"]]},{"id":"a746c343.6ed4f","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["ab4a3d91.4d7568"]]},{"id":"4be5546d.bdbf24","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["df051ed6.dd64a"]]},{"id":"97b51170.6a6b78","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["eb70a8ed.eadc98"]]},{"id":"cd5325e0.24fd6","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["bd367c46.0c0078"]]},{"id":"3c0cb07d.155668","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["d3241270.de0058"]]},{"id":"fe48b2c3.b8156","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":513,"wires":[["d019ca45.10f798"]]},{"id":"e77639f5.e06a18","type":"ui_switch","z":"bbe3cbec.18873","name":"Cuisine","label":"Cuisine","tooltip":"","group":"faf4d9f0.706c6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":593,"wires":[["1c17e9e6.99a62e"]]},{"id":"1e90e6d8.4e5359","type":"ui_switch","z":"bbe3cbec.18873","name":"Salon","label":"Salon","tooltip":"","group":"faf4d9f0.706c6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":653,"wires":[["119095b.cbd2fea"]]},{"id":"1cc14f2e.ec3669","type":"ui_switch","z":"bbe3cbec.18873","name":"","label":"Salle de Bain","tooltip":"","group":"faf4d9f0.706c6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":713,"wires":[["d7f2a8ed.de50d"]]},{"id":"9658adca.58fe8","type":"ui_switch","z":"bbe3cbec.18873","name":"","label":"Chambre","tooltip":"","group":"faf4d9f0.706c6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":773,"wires":[["9aefd909.e25bc8"]]},{"id":"c2441d9c.b51738","type":"ui_switch","z":"bbe3cbec.18873","name":"","label":"Escalier","tooltip":"","group":"faf4d9f0.706c6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":833,"wires":[["1ddbdf73.31b2d1"]]},{"id":"1561bac2.dce125","type":"ui_switch","z":"bbe3cbec.18873","name":"","label":"Test","tooltip":"","group":"faf4d9f0.706c6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":973,"wires":[["1cfe61cf.08971e"]]},{"id":"58698ef.37923f","type":"function","z":"bbe3cbec.18873","name":"ParseFloat","func":"str = msg.payload\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":440,"wires":[["d01d02d8.3fa6f8"]]},{"id":"d01d02d8.3fa6f8","type":"function","z":"bbe3cbec.18873","name":"Calcul Heures","func":"volts = msg.payload\nmsg.payload = (volts-12)*0.667*80\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":440,"wires":[["2e83875e.7c605"]]},{"id":"2e83875e.7c605","type":"ui_gauge","z":"bbe3cbec.18873","name":"Heures Restantes","group":"7a15e9f3.90caa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Heures Restantes","label":"Heures","format":"{{value | number : 0}}","min":"0","max":"80","colors":["#ff4013","#e6e600","#00fa00"],"seg1":"","seg2":"","x":1230,"y":440,"wires":[]},{"id":"faf4d9f0.706c6","type":"ui_group","z":"","name":"Actions","tab":"50037d76.432f1c","order":4,"disp":true,"width":"6"},{"id":"e485f915.369f9","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"solarpidb","name":"solarpidb","usetls":false,"tls":""},{"id":"7a15e9f3.90caa8","type":"ui_group","z":"","name":"Col3","tab":"50037d76.432f1c","order":3,"disp":false,"width":"6"},{"id":"50037d76.432f1c","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1}]